a {
    text-decoration: none !important;
}

:root {
    /* --large-btn-color: #E85D04; */
    --large-btn-color: #842A3B;
    --btn-outline-secondary-color: #588157;
    --btn-primary-color: #842A3B;
    --link-text-color: #370617;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.large-btn {
    background-color: var(--large-btn-color) !important;
    color: white !important;
}

.main-text-color {
    color: var(--large-btn-color);
}
.btn-outline-secondary {
    border-color: var(--btn-outline-secondary-color) !important;
    color: var(--btn-outline-secondary-color) !important;
}

.btn-outline-secondary:hover {
    background-color: var(--btn-outline-secondary-color) !important;
    color: white !important;
}

.btn-outline-secondary:focus {
    background-color: var(--btn-outline-secondary-color) !important;
    color: white !important;
}

.btn-primary {
    background-color: var(--btn-primary-color) !important;
    border-color: var(--btn-primary-color) !important;
}

.link-text {
    color: var(--link-text-color);
}

.navbar-collapse {
    text-align: center !important;
}
.nav-link {
    width: 100% !important;
}
.loading-profile {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}